@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Candal&family=Comfortaa:wght@300..700&family=Covered+By+Your+Grace&family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Jura:wght@300..700&family=Mochiy+Pop+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Syncopate:wght@400;700&display=swap");

:root {
  --color-primary: #00393e;
  --color-cta: #873000;
  --color-bg: #dae6cb;
  --color-text: #2d3436;
  --color-text-light: #f1f2f6;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
}

@font-face {
  font-family: "covered by your grace";
  font-style: normal;
  font-weight: 400;
  src: url(covered-by-your-grace.woff2) format("woff2");
}

@font-face {
  font-family: "mochiy pop one";
  font-style: normal;
  font-weight: 400;
  src: url(mochiy-pop-one.woff2) format("woff2");
}

@font-face {
  font-family: "Mochiy Pop P One", sans-serif;
  font-weight: 400;
  font-style: normal;
  src: url(mochiy-pop-p-one.woff2) format("woff2");
}

@font-face {
  font-family: "source sans 3";
  font-style: normal;
  font-weight: 400;
  src: url(source-sans-3.woff2) format("woff2");
}

h1 {
  font-family: "covered by your grace", sans-serif;
  font-size: 64px;
  font-weight: bold;
  color: var(--color-primary);
  margin: 0.5rem 0;
}

h2 {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: var(--color-primary);
  margin: 0.5rem 0;
}

h3 {
  font-family: "Mochiy Pop P One", sans-serif;
  font-size: 24px;
  font-weight: regular;
  color: var(--color-primary);
  margin: 0.5rem 0;
}
h4 {
  font-family: "Covered By Your Grace", cursive;
  font-size: 30px;
}
h5 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 20px;
}

p {
  font-family: "SourceSans3", sans-serif;
  font-size: 20px;
  color: var(--color-text);
  margin: 0.5rem 0;
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 25px;
    font-weight: 500;
  }
  h3 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

/*********************** Footer *****************/
footer {
  background-color: var(--color-primary);
  text-align: center;
  padding: 1rem;
  width: 100%;
  color: var(--color-text-light);
  text-decoration: none;
}

/************  Footer *************/
footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  text-align: center;
  background-color: var(--color-primary);
  width: 100%;
  position: fixed;
  left: 0;
  bottom: 0;
}

.footer_adresse {
  text-align: bottom;
  justify-self: right;
  padding: 0, 5rem;
  color: var(--color-text-light);
}

.footer_social_media {
  text-align: bottom;
  justify-self: center;
  padding: 1rem;
  width: 100%;
  color: var(--color-text-light);
}

.footer_mail {
  text-align: bottom;
  justify-self: left;
  padding: 0, 5rem;
  color: var(--color-text-light);
}

/****************************/

image {
  display: block;
  margin: auto;
}

a {
  color: var(--color-text-light);
  text-decoration: none;
}
